<nav class="navBar container-fluid d-flex justify-content-around align-items-center gap-5">
        <a class="fs-1" href="/home">E-commerce</a>
    <div class="d-flex align-items-center gap-5">
        <a class="" href="/home">Home</a>
        <a class="" href="/realtimeproducts">Product List</a>
        <a class="" href="#">Cart</a>
        <a class="" href="/chat">Chat</a>
    </div>
    <div class="d-flex align-items-center gap-2">
        <button id="navButton" class="btn btn-primary">Sign in</button>
        <p class="m-0 border-bottom border-primary" id="userName"></p>
    </div>

</nav>